.react-calendar {
    width: 90%;
    margin-top:6%;
    border: none;
    font-family: gangwonedusaeeum, sans-serif;
    font-size:1.5vw;
    line-height: 2.125em;
    user-select: none;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*년도, 월, 날짜, 달력 이동 버튼*/
.react-calendar button {
    /*margin: 0;*/
    border: 0;
    outline: none;
    /*font-family: gangwonedusaeeum, sans-serif;*/
    /*font-size:2.6vw;*/
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

/* 이전달 버튼 */
.react-calendar__navigation__prev-button {
    color: #6B8172; /* 아이콘 색상 */
}
/* 다음달 버튼 */
.react-calendar__navigation__next-button {
    color: #6B8172; /* 아이콘 색상 */
}
/* 버튼 호버 스타일 */
.react-calendar__navigation button:enabled:hover {
    background-color: #ccc; /* 호버 시 배경색 */
}
/* 이전년도 버튼 */
.react-calendar__navigation__prev2-button {
    color: #6B8172; /* 아이콘 색상 */
}
/* 다음년도 버튼 */
.react-calendar__navigation__next2-button {
    color: #6B8172; /* 아이콘 색상 */
}

.react-calendar__navigation {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬, 필요 시 */
    margin: 0 auto; /* 부모 요소 내 중앙 정렬 */
    height: 8%;
    width: 40%;
}
/*년도, 월 좌우 버튼 스타일 옵션*/
.react-calendar__navigation button {
    display: flex; /* 아이콘 가운데 정렬을 위한 플렉스 설정 */
    align-items: center; /* 수직 방향 중앙 정렬 */
    justify-content: center; /* 수평 방향 중앙 정렬 */
    background: none;
    font-size: 200%; /* 아이콘의 크기 조정 */
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}
/*좌우 년도 선택 버튼 클릭할때 색상 변화*/
/*.react-calendar__navigation button:enabled:focus*/
.react-calendar__navigation button:enabled:hover{
    /*달력 년도랑 년도 선택하는 버튼 부분 hover, focus일 때 배경색 지우기*/
    background-color: transparent;
    color:#516959;
}
.react-calendar__navigation__label {
    pointer-events: none; /* 클릭 이벤트 비활성화 */
    display: none; /* 버튼 숨김 */
}
/* 현재 연도의 텍스트 스타일 지정 */
.react-calendar__navigation__label__labelText {
    font-size: 100%; /* 원하는 크기로 변경 */
    font-family: gangwonedusaeeum, sans-serif; /* 원하는 폰트로 변경 */
    color: #43614D; /* 원하는 색상으로 변경 */
    line-height: 140%;
    margin-top: 43%;
}
/*text 옵션 (일, 월, 화, 수, 목, 금)*/
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.1vw;
    font-family: gangwonedusaeeum, sans-serif;
    margin-top: 1%;
}
/* 평일 (월, 화, 수, 목, 금) */
.react-calendar__month-view__weekdays__weekday {
    padding-top: 9%;
    color:#96A997;
}
/* 주말 (토, 일) */
.react-calendar__month-view__weekdays__weekday--weekend {
    padding-top: 9%;
    color: #D8B893; /* 원하는 색상으로 변경 */
}
/*밑줄 제거 (일, 월, 화, 수, 목, 금)*/
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none; /* 밑줄 제거 */
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 평일 날짜 타일 색상 변경 */
.react-calendar__tile {
    padding: 10px 6.6667px;
    border-radius: 50%;
    background: none;
    text-align: center;
    line-height: 2.5vw;
    color: #81B499; /* 원하는 글자 색상으로 변경 */
    font-family: gangwonedusaeeum, sans-serif;
    font-size: 130%;
}
/* 주말 날짜 타일 색상 변경 */
.react-calendar__month-view__days__day--weekend {
    color: #E5C491;
    font-family: gangwonedusaeeum, sans-serif;
    font-size: 130%;
}
/*오늘 날짜*/
.react-calendar__tile--now {
    background: #F1E0B5;
}
/*사용자가 선택한 날짜*/
.react-calendar__tile--active {
    background: #F1E0B5;
    color: white;
}
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575;
}

/*월 선택 타일*/
.react-calendar__year-view{
    margin-top: 16%;
}
/*월 선택 타일 개별 옵션*/
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 3% 2%;
}
.react-calendar__year-view__years__year {
    margin-top: 16%;
}
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
}
/*날짜 타일 hober,focus 스타일 옵션*/
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #F1EBD9;
}
/*날짜 타일에서 현재 날짜 타일 hover,focus 스타일 옵션*/
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #E5D2A3;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
/*월 선택 (현재 월 선택 타일 스타일)*/
.react-calendar__tile--hasActive {
    background: #F1E0B5;
    color:white;
}
/*월 선택 (현재 월 선택 타일 스타일) hover, focus*/
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #E5D2A3;
}
/*월 선택 (현재 월 선택 타일 스타일) hover, focus*/
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #E5D2A3;
}